<div class="btn btn-primary btn-lg w-full">
<script type="text/javascript">var em1 = "contact", dom = "3d-scans.net";document.write("<a href=javascript:location='" + "mail" + "to:" + em1 + "@" + dom + "'>" + em1 + "@" + dom + "</a>");</script>
</div>
